$border-color: rgb(153, 10, 10);
$yellow-color: rgb(255, 191, 0);
$blue-color: rgb(17, 149, 179);

$background-theme-dark: rgb(28, 30, 33);
$color-theme-dark: rgb(216, 221, 234);

$background-theme-light: rgb(216, 221, 234);
$color-theme-light: rgb(28, 30, 33);
