.wrapper {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.firstPage {
  display: flex;
  justify-content: space-around;
  text-align: center;
  height: calc(100vh - 10rem);
  font-size: 2em;

  @media screen and (max-width: 720px) {
    flex-direction: column;
  }

  flex-wrap: wrap;
}

.button {
  margin-top: 3rem;
  flex-basis: 100%;
}
